<body>
    <header>
        <nav>
            <h1 class="list-navbar"><a href="/"><img class="img-title" src="/img/logo.png" alt="Logo OneShop"></a></h1>
            <li class="list-navbar"><a class="list-text-nav" href="/products">Productos</a></li>
            <li class="list-navbar"><a class="list-text-nav" href="/cart">Carrito</a></li>
            <div class="cont-options">
                <div class="cont-profile">
                    <li class="list-profile-nav"><a class="list-profile-text" href="/profile">Perfil</li>
                    <img style="width: 20px; display: flex;" src="/img/icons8-flecha-hacia-abajo-50.png" alt="Flecha"></a>
                </div>
                <li class="list-config-nav"><a href="/config"><img src="/img/icons8-config-50.png" alt="Logo config"></a></li>
            </div>
        </nav>
    </header>
</body>